*,*::before,*::after{margin:0;padding:0;}
html,body{background-color:#ffffff;}
:root{--height:5rem;--color:#64b5f6;--dent:1rem;--color-basis:#d44545;--bgcolor-basis:#f2f2f2;}
.f_left{float:left;}
.f_right{float:right;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:#333;}
a:focus,a:hover{color:var(--color-basis);}
input{padding:0;}
.marginRight74{margin-right:74px;}
.marginRight104{margin-right:104px;}
.marginRight238{margin-right:244px;}
.marginBottom20px{margin-bottom:20px;}
i,em{font-style:normal;}
.gray{color:gray;}
.img{width:100%;height:100%;}
input{outline:none;}
.padding-0{padding:0;}



