<div class="col-lg-1 col-md-1 c_row_content_l" > 
         <div class="slideNav "> 
          <ul class="nav  nav-pills" role="tablist"> 
            <li role="presentation" class="active" style="margin-bottom: 20px;">
              <a href="designTeam.html">
                <label>合伙人</label>
              </a>
            </li> 
            <li role="presentation">
              <a href="designTeam_cooperate.html">
                <label>团队伙伴</label>
              </a>
            </li> 
          </ul> 
         </div> 
        </div> 
        <div class="col-lg-11 col-md-11 c_row_content_r"> 
         <!-- Tab panes --> 
         <div role="tabpanel" class="tab-pane active" id="home" style="height: 100%"> 
           <div class="row "> 
            <div class="col-lg-12 col-md-12" id="designPic" style="padding-right: 0px; height: 100%;width: 100%;"> 
             <div class="designCont" id="designCont" style=""> 
              <div class="design-col-3"> 
               <div class="design-row  designItem" style=""> 
                <a href="designTeamDetail.html"> 
                 <div class="item-col-1"> 
                  <img src="__STATIC__/images/cooperate/images/cooperate_03.png" /> 
                 </div> 
                 <div class="item-col-2 grayColor"> 
                  <div class="centerContain"> 
                   <div class="item-text textOpcityItem"> 
                    <h3> 沈凯 <small> 总经理</small> </h3> 
                    <p> 台湾注册设计师 </p> 
                    <p> 毕业于台湾国立成功大学建筑研究所 </p> 
                   </div> 
                  </div> 
                 </div> </a> 
               </div> 
               <div class="design-row designItem" style=" "> 
                <a href="designTeamDetail.html"> 
                 <div class="item-col-2 blueColor_3"> 
                  <div class="centerContain"> 
                   <div class="item-text textOpcityItem"> 
                    <h3> 江中柱 <small> 设计总监/合伙人</small> </h3> 
                    <p> 成功大学建筑研究所/硕士 </p> 
                    <p> 台湾注册建筑师/台北市建筑师公会会员 </p> 
                   </div> 
                  </div> 
                 </div> 
                 <div class="item-col-1"> 
                  <img src="__STATIC__/images/cooperate/images/cooperate_05.png" /> 
                 </div> </a> 
               </div> 
               <div class="design-row designItem" style=""> 
                <a href="designTeamDetail.html"> 
                 <div class="item-col-1"> 
                  <img src="__STATIC__/images/cooperate/images/cooperate_10.png" /> 
                 </div> 
                 <div class="blueColor_1"> 
                  <div class="centerContain"> 
                   <div class="item-text textOpcityItem"> 
                    <h3> 沈凯 <small> 总经理</small> </h3> 
                    <p> 台湾注册设计师 </p> 
                    <p> 毕业于台湾国立成功大学建筑研究所 </p> 
                   </div> 
                  </div> 
                 </div> </a> 
               </div> 
              </div> 
              <div class="design-col-1 designItem" style=""> 
               <a href="designTeamDetail.html"> 
                <div class="item-row-1"> 
                 <img src="__STATIC__/images/cooperate/images/cooperate_13.png" /> 
                </div> 
                <div class="item-row-2 blueColor_4" style=" margin-top: 2%;"> 
                 <div class="centerContain"> 
                  <div class="item-row-text textOpcityItem"> 
                   <h3> 江中柱 <small> 设计总监/合伙人</small> </h3> 
                   <p> 成功大学建筑研究所/硕士 </p> 
                   <p> 台湾注册建筑师/台北市建筑师公会会员 </p> 
                  </div> 
                 </div> 
                </div> </a> 
              </div> 
              <div class="design-col-1 designItem" style=""> 
               <a href="designTeamDetail.html"> 
                <div class="item-row-2 blueColor_2" style="margin-bottom: 2%"> 
                 <div class="centerContain"> 
                  <div class="item-row-text textOpcityItem"> 
                   <h3> 沈凯 <small> 总经理</small> </h3> 
                   <p> 台湾注册设计师 </p> 
                   <p> 毕业于台湾国立成功大学建筑研究所 </p> 
                  </div> 
                 </div> 
                </div> 
                <div class="item-row-1"> 
                 <img src="__STATIC__/images/cooperate/images/cooperate_15.png" /> 
                </div> </a> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 

        </div>