<!DOCTYPE html>
<html lang="zh-cn">
 <head> 
  <meta charset="utf-8" /> 
  <title>新闻-详情</title> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <!-- Bootstrap --> 
  <link href="__STATIC__/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" /> 
  <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
  <link rel="stylesheet" href="__STATIC__/lib/swiper4.4.2/css/swiper.css" /> 
  <link href="__STATIC__/css/common.css" rel="stylesheet" /> 
  <link href="__STATIC__/css/profile.css" rel="stylesheet" /> 
 </head> 
 <body> 
<!-- 头部 head --> 
  <include file="Public/header"/>
  <!-- 内容区域 content --> 
  <div class="content"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-lg-12 col-md-12  c_col_content"> 
      <div class="setCen"> 
       <div class="row c_row_content"> 
        <div class="col-lg-1 col-md-1 c_row_content_l" > 
         <div class="slideNav"> 
          <ul class="nav  nav-pills" role="tablist" id="myTab"> 
           <li role="presentation"><a href="companyprofile.html"><label>公司概况</label></a></li> 
           <li role="presentation" class="active"><a href="companynews.html"><label>公司新闻</label></a></li> 
           <li role="presentation"><a href="companyPrize.html"><label>荣获奖项</label></a></li> 
          </ul> 
         </div> 
        </div> 
        <div class="col-lg-11 col-md-11 c_row_content_r"> 
         <!-- Tab panes --> 
         <div role="tabpanel" class="tab-pane active" id="profile" style="height: 100%"> 
           <div class="" style="width: 100%;height: 100%;"> 
            <div class="title" style="margin-bottom: 10px;"> 
             <img src="__STATIC__/images/max_event.png" /> 
            </div> 
            <!-- 新闻详情--> 
            <div class="newsDetail"> 
             <div class="row" style="height: 100%;padding-top: 20px;"> 
              <div class="col-lg-8  col-md-8" style="height: 100%;"> 
               <!--<img src="__STATIC__/images/newsDetail.png" style="height: 100%;" >--> 
               <div class="swiper-container CarouselR" id="CarouselR"> 
                <div class="swiper-wrapper"> 
                 <div class="swiper-slide" style="background: url(__STATIC__/images/newsDetail.png) no-repeat ;background-size:100% 100%;"></div> 
                 <div class="swiper-slide" style="background: url(__STATIC__/images/firstCarsoul/first_2.png) no-repeat ;background-size:100% 100%;"></div> 
                 <div class="swiper-slide" style="background: url(__STATIC__/images/firstCarsoul/first_3.png) no-repeat ;background-size:100% 100%;"></div> 
                </div> 
               </div> 
              </div> 
              <div class="col-lg-4  col-md-4"> 
               <div class="title" style="font-size: 20px;"> 
                <i>正青春</i> | MAS新老员工户外3日拓展 
               </div> 
               <small style="line-height: 30px;">2018-5-30 16:20 </small> 
               <div class="description">
                 新形象，新生活，新起点！ 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 

        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--foot 底部--> 
  <include file="Public/footer"/>   
 </body>
</html>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script> 
<script src="__STATIC__/lib/swiper4.4.2/js/swiper.js"></script>
<script src="__STATIC__/js/base.js"></script>
<script src="__STATIC__/js/newsDetail.js"></script>