
<!-- 头部 head -->
<div class="head">
  <div class="container-fluid">
    <div class="row ">

      <div class="col-lg-4 col-md-4">
        <a href="index.html">
        <div ><img src="images/logo.png"> </div>
        </a>
      </div>

      <div class="col-lg-7  col-md-7 ">
        <ul class="nav nav-pills">
          <!--<li role="presentation" class="active">-->
          <!--<a href="index.html" data-toggle="dropdown" > <label class="i18n" name="homePage"></label> </a>-->
          <!--</li>-->
          <li role="presentation">
            <a href="companyprofile.html" data-toggle="dropdown" ><label class="i18n" name="companyExp"></label></a>
            <ul class="dropdown-menu ">
              <li role="presentation"><a href="companyprofile.html"><label class="i18n" name="companPprofile"></label></a></li>
              <li role="presentation"><a href="companyprofilenews.html"><label class="i18n" name="companyNews"></label></a></li>
              <li role="presentation"><a href="companyprofilePrize.html"><label class="i18n" name="awards"></label></a></li>
            </ul>
          </li>
          <li role="presentation">
            <a href="designTeam.html"><label class="i18n" name="designTeam"></label></a>
            <ul class="dropdown-menu ">
              <li role="presentation"><a href="designTeam.html"><label class="i18n" name="partner"></label></a></li>
              <li role="presentation"><a href="designTeam_cooperate.html"><label class="i18n" name="partnerTeam"></label></a></li>
            </ul>
          </li>
          <li role="presentation"><a href="designWork.html">
            <label class="i18n" name="designShow"></label></a>

            <ul class="dropdown-menu">

              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter1"><label class="i18n" name="programme"></label></a></li>
              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter2"><label class="i18n" name="synthesis"></label></a></li>
              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter"><label class="i18n" name="shoppingCenter"></label></a></li>
              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter3"><label class="i18n" name="retail"></label></a></li>
              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter4"><label class="i18n" name="commerce"></label></a></li>
              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter5"><label class="i18n" name="dwell"></label></a></li>
              <li role="presentation"><a href="designWork.html?tabid=shoppingCcenter6"><label class="i18n" name="education"></label></a></li>
              

            </ul>
          </li>
          <li role="presentation">
            <a href="contactUs.html" data-toggle="dropdown" ><label class="i18n" name="contact"></label></a>

          </li>
        </ul>

        <div class="langToggle " id="lang">
            <label class="radio-inline" >
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1"  value="en">
              <i id="item1" >English</i>
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"  value="zh-TW">
              <i id="item2" > 繁体 </i>
            </label>
          </div>
      </div>
    </div>
  </div>
</div>

